.Rproj.user/767D46EE/sources/prop/INDEX
.Rproj.user/767D46EE/sources/prop/B878CCF9
.Rproj.user/767D46EE/sources/session-1c5d8d85/35D68329
.Rproj.user/767D46EE/sources/session-1c5d8d85/35D68329-contents
.Rproj.user/767D46EE/sources/session-1c5d8d85/3D29DF29-contents
.Rproj.user/767D46EE/sources/session-1c5d8d85/CA6148DA
.Rproj.user/767D46EE/sources/session-1c5d8d85/CA6148DA-contents
.Rproj.user/767D46EE/sources/session-1c5d8d85/E4B6DBE3
.Rproj.user/767D46EE/assistant_options
.Rproj.user/767D46EE/build_options
.Rproj.user/767D46EE/pcs/files-pane.pper
.Rproj.user/767D46EE/pcs/source-pane.pper
.Rproj.user/767D46EE/pcs/windowlayoutstate.pper
.Rproj.user/767D46EE/pcs/workbench-pane.pper
.Rproj.user/767D46EE/rstudio-prefs.json
.Rproj.user/767D46EE/sources/prop/2CD55D0A
.Rproj.user/767D46EE/sources/prop/361EB811
.Rproj.user/767D46EE/sources/prop/570F254F
.Rproj.user/767D46EE/sources/session-1c5d8d85/E4B6DBE3-contents
.Rproj.user/767D46EE/sources/session-1c5d8d85/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
